{%extends "base.html"%}
{% load portfolio_extras %}
{% block body %}

<ul class='art-categories'>
{% for cat in categories %}
  <li class='category'>
    <div class='art-tile'>

      
      {% for piece in cat.pieces %}

        
        <a class='fancybox' rel='{{cat.title|slugify}}' href='{{piece.image.url}}'>
          <div class='imagetile' style="background: url('{{piece.image.url}}')  center no-repeat; background-size:cover;">
          </div>
          
          
        </a>
        
        
        
      {% endfor %}
      <h2 class='title'>
        {{cat.title}}
      </h2>
    </div>
    
      
  </li>

{% endfor %}
</ul>
{% endblock %}


