body, html {
  height: 100%;
  background: url('/static/img/dark_wall.png') repeat;
  color: #eee;
}
img {
  margin: 0;
}
a {
  color: #eee;
}
ul.art-categories {

}

h1.logo {
  float: left;
}

#contain {
  width: 1100px;
  margin: 0 auto;
}

ul.nav-list {
  overflow: auto;
  float: right;
  line-height: 50px;
}

ul.nav-list li {
  float: left;
  list-style-type: none;
  margin-right: 30px;
}
ul.nav-list li:after {
  content: '|';
  margin-left: 30px;
}
ul.nav-list li:last-child:after{
  display: none;
}

ul.nav-list a {
  text-decoration: none;
}

ul.nav-list a:hover {
  text-decoration: underline;
}

hr {
  clear: both;
  margin: 20px 0;
}

li.category {
  float: left;
  margin-right: 50px;
  padding: 0;
  list-style-type: none;
}

.art-tile {
  width: 300px;
  height: 300px;
  overflow: hidden;
  background: #888;
  position: relative;
}

.art-tile img {
  position: absolute;
  top: 0;
}

.art-tile h2.title {
  transition: opacity .3s ease-in-out;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 300px;
  height: 100%;
  margin: 0;
  background: rgba(0,0,0,.75);
  text-align: center;
  color: #aaa;
}

.art-tile:hover h2.title {
  opacity: 1;
}

.art-in-category {
  display: none;
}